html, body{
margin: 0 auto;
height: 100%;
background-color: #000000;
}
#boxContainer{	
	width: 100%;
	height: 100%;
}
.box{
	position: absolute;
}
#box1{	
	width: 15%;
	height: 23%;

}
#box2{	
	width: 35%;
	height: 23%;

}
#box3{	
	width: 23%;
	height: 73%;

}
#box4{	
	width: 27%;
	height: 73%;

}
#box5{	
	width: 25%;
	height: 23%;

}
#box6{	
	width: 25%;
	height: 50%;

}
#box7{	
	width: 25%;
	height: 27%;

}
#box8{	
	width: 50%;
	height: 27%;

}
#box9{	
	width: 50%;
	height: 27%;

}
.boxChild{
	width: 100%; 
	height: 100%; 
	display:block;
	position: relative;
	border: 10px solid #000;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
